<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/dashboard">
            <img src="/vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
            <img src="/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo" />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">					
                <li>
                    <a href="/dashboard" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-house"></span>
                        <span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-textarea-resize"></span
                        ><span class="mtext">Platforms</span>
                    </a>
                    <ul class="submenu">
                        <!-- <li><a href="/recon">Recon</a></li> -->
                        <li><a href="/scanamaze">Scanamaze</a></li>
                        <li><a href="/pointprecise">Point Precise</a></li>
                        <li><a href="/tychostream">Tycho Stream</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle">
                    <span class="micon bi bi-textarea-resize"></span
                    ><span class="mtext">Notification</span>
                </a>
                <ul class="submenu">
                    <!-- <li><a href="/recon-notification">Recon Notification</a></li> -->
                    <li><a href="/scanamaze-notification">Scanamaze Notification</a></li>
                    <li><a href="/pointprecise-notification">Point Precise Notification</a></li>
                    <li><a href="/tychostream-notification">Tycho Stream Notification</a></li>
                </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-textarea-resize"></span
                        ><span class="mtext">Notification Details</span>
                    </a>
                    <ul class="submenu">
                        <!-- <li><a href="/recon-notification-detail">Recon Notification Detail</a></li> -->
                        <li><a href="/scanamaze-notification-detail">Scanamaze Notification Detail</a></li>
                        <li><a href="/pointprecise-notification-detail">Point Precise Notification Detail</a></li>
                        <li><a href="/tychostream-notification-detail">Tycho Stream Notification Detail</a></li>
                    </ul>
                    </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>